spring:
  cloud:
    gateway:
      server:
        webflux:
          basePackages: com.meryemalay
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://localhost:4200"
                allowedHeaders: "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE